.header-top, .nav3, #footer{
    background-color: rgb(230, 119, 187);
  }

.navbar-brand{
    margin: 1px;
}

html{
    font-size: 12px;
}

.nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
}

