.header-top, .nav3, #footer{
    background-color: rgb(241, 34, 241);
   

}
.fab1{
    margin-left : 150px;
}
#navBar2{
    font-size: small;
}
.navbar-brand{
    margin: 1px;
}
html{
    font-size: 12px;
}